
body{
    background-color: orange;
} 
.div1 {
    
    display:block;
    /* align-items: center; */
    margin: auto;
  width: 34%;
  height: 60%;
  border: 10px solid #73AD21;
  border-style: dashed;
  padding: 10px;

    text-indent: 30px;
  }

  h1{
      font-family: sans-serif;
  }

  #message{
    border: 10px solid black;
    border-style: ridge;
    font-family: Stencil Std;
  }
  
  button{
      /* align-items: stretch */
      padding: 20px;
      margin:5%;
      
  }
  .diceImage{
      margin:auto;
  }